{% extends 'base.html' %}

{% load static %}
{% load registry_extras %}

{% block page_title %}{% mediator_name mediator=mediator %}{% endblock %}

{% block body %}
    {% include 'registry/detail/_partials/title.html' %}
    {% include 'registry/detail/_partials/details.html' %}
{% endblock %}

{% block extra_scripts %}
    {% if request.user.is_staff %}
        {{ mediator.pk|json_script:"mediator-pk" }}
        <script src="{% static 'js/profile_statistics.js' %}"></script>
    {% endif %}
{% endblock %}
