.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #574fec;
}

.btn-light {
    border-color: #eeeeee;
}

.trainings > div:not(:first-child) {
    border-top-width: 0 !important;
}

.additional-info p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .pagination-lg {
        --bs-pagination-padding-x: 0.5rem;
        --bs-pagination-padding-y: 0.25rem;
        --bs-pagination-font-size: 0.7rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .pagination-lg {
        --bs-pagination-padding-x: 1rem;
        --bs-pagination-padding-y: 0.5rem;
        --bs-pagination-font-size: 1rem;
    }
}
