{% load thumbnail %}
{% load custom_tags %}

<div class="border shadow p-2">
    {% if mediator.photo %}
        {% thumbnail mediator.photo "600x900" crop="center" as im %}
            <a class="photoswipe" href="{{ im.url }}">
                <img class="img-fluid"
                     src="{{ im.url }}"
                     width="{{ im.width }}"
                     height="{{ im.height }}"
                     alt="{{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}"/>
            </a>
        {% endthumbnail %}
    {% else %}
        <img class="img-fluid"
             src="https://placehold.co/600x900?text=No+Image"
             alt="{{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}"/>
    {% endif %}

    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
        <h4 class="text-center ">{{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}</h4>

        {% if request.user.is_staff %}
            <div class="text-indigo-800 mt-2">
                Заява №{{ object.application_number }} від {{ object.application_date|date:"SHORT_DATE_FORMAT" }}
            </div>
            {% if object.active %}
                <div class="text-green-700 fw-bold">Профіль активний</div>
            {% else %}
                <div class="text-red-700 fw-bold">Профіль неактивний</div>
            {% endif %}
            <div class="text-indigo-800 mb-2">
                Дата останніх змін: <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ object.updated_at }}">{{ object.updated_at|date:"SHORT_DATE_FORMAT" }}</span>
            </div>
        {% else %}
            {% if object.specializations.count > 0 %}
                <p class="text-center text-muted mt-3">{{ object.specializations_titles|lowfirst_list|join:'; '|capfirst }}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
