{% load static %}
{% load i18n %}
{% load registry_extras %}

<div class="section jarallax vh-25 text-center-xs overlay-dark overlay-opacity-2 text-white d-flex align-items-center justify-content-center">

    <!-- jarallax image -->
    <img class="jarallax-img" src="{% static 'images/IP_Office_background.jpg' %}" alt="">

    <div class="container">
        <h1 class="fw-bold">{% mediator_name mediator=object %}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb small">
                <li class="breadcrumb-item">
                    <a class="text-white" href="{% url 'registry:index' %}">{% trans "Реєстр медіаторів" %}</a>
                </li>
                <li class="breadcrumb-item text-white active"
                    aria-current="page">{% trans "Профіль особи" %}</li>
            </ol>
        </nav>
    </div>
</div>