{% extends 'base.html' %}

{% block page_title %}Список ресурсів{% endblock %}

{% block body %}
    {% include 'resources/list/_partials/title.html' %}

    <div class="container py-6 min-vh-50">
        <div class="col-12">
            <ul class="list-unstyled">
                {% for item in object_list %}
                    <li>
                        <a class="fs-5"
                           href="{% url 'resources:detail' slug=item.slug %}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
